<%- include("../../views/partials/admin/header") %>
    <div class="main-content">
        <h2>Dashboard</h2>
        <!-- Add more content here -->
    </div>

    <%- include("../../views/partials/admin/footer") %>
</body>


</html>

